Resources:
  ElasticSearchSubnetGroup:
    Type: AWS::ElastiCache::SubnetGroup
    Properties:
      CacheSubnetGroupName: "${self:provider.stackName}-subgroup"
      Description: "Lesgo Cache Subnet Group"
      SubnetIds:
      - ${env:SUBNET_ID_1}
      - ${env:SUBNET_ID_2}
  MemcachedCluster:
    Type: AWS::ElastiCache::CacheCluster
    Properties:
      ClusterName: "${self:provider.stackName}-memcached"
      AutoMinorVersionUpgrade: true
      Engine: memcached
      CacheNodeType: cache.t2.micro
      NumCacheNodes: 1
      VpcSecurityGroupIds:
        - ${env:SECURITY_GROUP}
      CacheSubnetGroupName:
        Ref: ElasticSearchSubnetGroup
  RedisCluster:
    Type: AWS::ElastiCache::CacheCluster
    Properties:
      ClusterName: "${self:provider.stackName}-redis"
      AutoMinorVersionUpgrade: true
      Engine: redis
      CacheNodeType: cache.t2.micro
      NumCacheNodes: 1
      VpcSecurityGroupIds:
        - ${env:SECURITY_GROUP}
      CacheSubnetGroupName:
        Ref: ElasticSearchSubnetGroup
